*{
    margin:0;
    padding:0;
    block-size: border-box;
    font-family: 'Gilroy';

}


html,body{
    height:100%;
    width:100%;
}

#page1{
    min-height:100vh;
    width:100%;
    position:relative;
    padding-top: 20vh;
}

#page1 h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -5px;
    font-size: 15vw;
    font-family: futura;
    line-height: 15vw;
}